<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Posetrix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Posetrix.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>System</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>Sound1</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0.0.1</value>
            </setting>
        </Posetrix.Properties.Settings>
    </userSettings>
</configuration>